<h4>Editing <%= @user.username %></h4>
<form action='/users/<%= @user.id%>/edit' method='post'>
<input id='hidden' type='hidden' name='_method' value='patch'>
<p>Email:
<input type='text' name='email' value='<%= @user.email %>'>
<p>Title:
<input tyle='text' name='title' value='<%= @user.title %>'>
<br>
<br>
<button type='submit' id='submit' class='btn grey waves-effect waves-light'>
Edit Account
<i class='material-icons right'>send</i>
</button>
</form>
