<a href='/users/<%= @user.id %>/edit'>
<button class='btn grey waves-effect waves-light right'>
Edit Account
<i class='material-icons right'>edit</i>
</button>
</a>
<h4><%= @user.username %></h4>
<h5>Title: <%= @user.title %></h5>
<h5>Email: <%= @user.email %></h5>
