<h4>PROJECT EDIT</h4>
<form action = '/projects/<%= @project.id %>/edit' method='post'>
<input id='hidden' type='hidden' name='_method' value='patch'>
<p>Author:
<input type='text' id='author' name='author' value='<%= @project.author %>' if='author'>
<p>Title:
<input type='text' id='title' name='title' value='<%= @project.title %>' if='title'>
<p>Notes:
<input type='text' id='notes' name='notes' value='<%= @project.notes %>' if='notes' size=30>
<p>Status:

<label>
<input type='radio' id='status' value='FALSE' name='complete'>
<span>In Progress</span>
</label>

<label>
<input type='radio' id='status' value='TRUE' name='complete'>
<span>Completed</span>
</label>

<br>
<br>
<button type='submit' id='submit' class='btn grey waves-effect waves-light'>
Edit Project
<i class='material-icons right'>send</i>
</button>
</form>
