<h1>Build a new project!</h1>
<form action = '/projects' method='post'>
<p>Author:
<input type='text' id='author' name='author'>
<p>Title:
<input type='text' id='title' name='title'>
<p>Notes:
<input type='text' id='notes' name='notes' size=30>
<p>Status:
<input type='radio' id='in_progress' value='FALSE' name='complete'>
<label for='status'>In Progress</label>
<input type='radio' id='completed' value='TRUE' name='complete'>
<label for='status'>Completed</label>
<br>
<button type='submit' id='submit' class='btn grey waves-effect waves-light'>
Create Project
<i class='material-icons right'>send</i>
</button>
</form>
