<h1>Build a new project!</h1>
<form action = '/projects' method='post'>
<p>Author:
<input type='text' id='author' name='author'>
<p>Title:
<input type='text' id='title' name='title'>
<p>Notes:
<input type='text' id='notes' name='notes' size=30>

<p>Status:

<label>
<input type='radio' id='status' value='FALSE' name='complete'>
<span>In Progress</span>
</label>

<label>
<input type='radio' id='status' value='TRUE' name='complete'>
<span>Completed</span>
</label>

<br>
<br>
<button type='submit' id='submit' class='btn grey waves-effect waves-light'>
Create Project
<i class='material-icons right'>send</i>
</button>
</form>
