<button class='btn grey waves-effect waves-light text-white right'>
<a href='/editors/new' style='color:white'>New Editor</a>
<i class='material-icons right'>add</i>
</button>
<h4>Currently, there aren't any editors in the system.</h4>
