<h1>Add an editor, then assign them to tasks</h1>
<form action = '/editors' method='post'>
<p>Name:
<input type='text' id='author' name='name'>
<p>Email:
<input type='email' id='title' name='email'>
<p>Phone:
<input type='tel' id='notes' name='phone' size=30>
<p>Website:
<input type='text' id='notes' name='website' size=30>
<p>Notes:
<input type='text' id='notes' name='notes' size=30>
<input type='submit' id='submit' value='Submit'>
</form>
