<h4>Hello, <%= @user.username %>.</h4>
<p>Welcome to the project management system for The Reading List.</p>
<p>Here, you'll be able to start projects, add tasks to them, and make or assign editors.</p>
<p>Keep in mind that while you can add tasks and editors to anyone's projects, you'll only be able to edit or delete projects you've started yourself.</p>
<p>To get started, go ahead and click "Projects" in the navbar.</p>
